.DS_Store
template_cache/
template_files/
template.tex
template.log
template.html
template.md
template.pdf
template.xml
.Rproj.user
*.Rproj
nul

# Local tool/runtime installs
.quarto-cli/
.venv/
bin/quarto
.Rprofile
renv/
renv.lock
renv/library/
renv/staging/
renv/sandbox/
